* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 100;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::selection {
  color: white;
  background: black;
}

/* Login Form(index.html Page) */
#login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(./images/login-back.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.yp-link {
  text-decoration: none;
  text-align: center;
  background-color: white;
  color: rgb(39, 35, 35);
  font-size: 15px;
  width: 290px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  height: 40px;
}

.yp-link:hover {
  background-color: #b1acac;
}

.admin-form {
  display: flex;
  padding: 50px;
  flex-direction: column;
  background-color: transparent;
}

.admin-info {
  text-align: center;
  font-size: 20px;
  border: 1px inset white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

::placeholder {
  color: grey;
}

.admin-info:focus {
  outline: none;
  border-bottom: 1px inset black;
}

.login-btn {
  background-color: white;
  color: rgb(39, 35, 35);
  font-size: 15px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  height: 35px;
}

.login-btn:hover {
  background-color: #b1acac;
}

/* Add Form(add-info.html Page) */
#add-info-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/login-back.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.back-btn {
  text-align: center;
  text-decoration: none;
  width: 100px;
  height: 50px;
  background-color: white;
  color: rgb(39, 35, 35);
  font-size: 15px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  height: 35px;
}

.back-btn:hover {
  background-color: #b1acac;
}

.yp-form {
  display: flex;
  padding: 50px;
  flex-direction: column;
  background-color: transparent;
}

.add-input {
  text-align: center;
  font-size: 20px;
  border: 1px inset white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 300px;
}

.add-input.yp-image {
  height: 100px;
}

.or {
  text-align: center;
}

#select-image {
  font-size: 20px;
  background-color: white;
  border: 1px inset white;
  padding: 35px;
  margin-top: 20px;
  border-radius: 5px;
  height: 100px;
}

::placeholder {
  color: grey;
}

.add-input:focus {
  outline: none;
  border-bottom: 1px inset black;
}

#birth-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}

#birth-date:hover .divider {
  color: grey;
}

.divider {
  color: white;
  font-size: 45px;
}

.yp-birthday {
  text-align: center;
  font-size: 20px;
  border: 1px inset white;
  padding: 10px;
  width: 80px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.yp-birthday:focus {
  outline: none;
  border-bottom: 1px inset black;
}

.add-info-btn {
  background-color: white;
  color: rgb(39, 35, 35);
  font-size: 15px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  height: 45px;
}

.add-info-btn:hover {
  background-color: #b1acac;
}

.view-info-btn {
  margin-top: 30px;
  background-color: white;
  color: rgb(39, 35, 35);
  font-size: 15px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  height: 45px;
}

.view-info-btn:hover {
  background-color: #b1acac;
}

/* ViewPage(view-info.html Page) */
#view-body {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.nav-icon {
  display: none;
}

#view-content {
  padding-top: 80px;
}

.navbar {
  opacity: 0.8;
  position: fixed;
  z-index: 2000;
  border-bottom: 1px solid white;
  background-color: black;
  padding: 20px 50px 10px 25px;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  width: 60px;
  height: 50px;
  color: white;
  padding: 15px;
  border: 1px solid white;
  transition-property: transform color background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.nav-link:hover {
  transform: scale(1.2, 1);
  color: black;
  background-color: white;
}

.month-head {
  font-size: 35px;
  padding: 50px;
  text-align: center;
  color: white;
  background-color: black;
}

.card-place {
  padding-top: 180px;
  padding-bottom: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-size: cover;
  background-position: center;
}

.month {
  background-size: cover;
  background-attachment: fixed;
}

#january {
  background: url(./images/month-backgrounds/january-background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#february {
  background: url(./images/month-backgrounds/february-background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#march {
  background: url(./images/month-backgrounds/march-background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#april {
  background: url(./images/month-backgrounds/april-background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#may {
  background: url(./images/month-backgrounds/may-background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#june {
  background: url(./images/month-backgrounds/june-background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#july {
  background: url(./images/month-backgrounds/july-background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#august {
  background: url(./images/month-backgrounds/august-background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#september {
  background: url(./images/month-backgrounds/september-background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#october {
  background: url(./images/month-backgrounds/october-background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#november {
  background: url(./images/month-backgrounds/november-background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#december {
  background: url(./images/month-backgrounds/december-background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.profile-card {
  border-radius: 20px;
  height: 465px;
  width: 250px;
  padding: 25px;
  background: linear-gradient(rgba(12, 12, 12, 0.5), rgba(7, 7, 7, 0.5)),
    url(./images/info-background.jpg);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px,
    rgba(0, 0, 0, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px,
    rgba(0, 0, 0, 0.05) -25px 25px;
  background-position: center center;
  transition-timing-function: ease-in-out;
  transition: all 0.5s;
}

.profile-pic {
  border-radius: 20px;
  object-fit: cover;
  display: block;
  margin: auto;
  height: 140px;
  width: 170px;
  margin-block: 20px;
  transition-timing-function: ease-in-out;
  transition: all 1s;
  filter: brightness(50%);
}

.profile-pic:hover {
  transform: scale(1.1, 1.1);
}

.profile-card:hover {
  transform: scale(1.1, 1.1);
}

.profile-card:hover .profile-pic {
  filter: brightness(100%);
}

.content-listing {
  text-decoration: underline;
  font-weight: 900;
}

.card-content {
  text-align: center;
  width: 100%;
  margin: 1px;
  font-weight: 500;
  color: white;
  font-size: 18px;
}

.delete-btn {
  background-color: transparent;
  margin-top: 30px;
  margin-left: 20px;
  padding: 5px;
  color: white;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 5px;
  width: 80%;
  transition-timing-function: ease-in-out;
  transition: all 0.5s;
}

.delete-btn:hover {
  color: black;
  background-color: white;
  border: none;
}

.footer {
  color: white;
  background-color: black;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

@media only screen and (max-width: 425px) {
  /* Login Form(index.html Page) */
  .yp-link {
    font-size: 13px;
    width: 250px;
  }

  .admin-info {
    width: 250px;
  }

  /* Add Form(add-info.html Page) */
  .back-btn:hover {
    background-color: #b1acac;
  }

  .yp-form {
    padding: 25px;
  }

  .add-input {
    width: 250px;
  }

  #birth-date {
    width: 250px;
  }

  #birth-date:hover .divider {
    color: grey;
  }

  .divider {
    font-size: 40px;
  }

  .yp-birthday {
    width: 70px;
  }

  /* ViewPage(view-info.html Page) */
  #view-content {
    padding-top: 0px;
  }

  .nav-icon {
    text-align: center;
    padding: 10px;
    color: white;
    height: 40px;
    font-size: 25px;
    font-weight: lighter;
  }

  #nav-open {
    position: fixed;
    transition: 0.5s ease-in-out;
  }

  #nav-open:hover {
    color: black;
  }

  #nav-close {
    width: 20px;
    padding: 0px;
    transition: 0.5s ease-in-out;
  }

  #nav-close:hover {
    color: red;
  }

  .month-head {
    font-size: 20px;
    padding: 20px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    left: -100px;
    height: 100%;
    width: 100px;
    padding: 2px;
    padding-left: 8px;
    transition: 0.5s ease-in-out;
    opacity: 1;
  }

  .nav-link {
    margin-block: 5px;
    height: 40px;
    width: 80px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
  }

  .middle {
    padding: 0px;
    height: 160px;
    width: 160px;
    font-size: 10px;
  }

  .profile-pic {
    object-fit: cover;
    width: 190px;
    height: 190px;
  }

  .profile-card {
    position: relative;
  }

  .card-content {
    font-size: 10px;
    padding: 5px;
  }

  .delete-btn {
    padding: 2px;
    font-size: 10px;
    margin-top: 2px;
  }

  .footer {
    font-size: 10px;
  }
}
